
.right{
  max-width: 300px !important;
  padding: 100px 0px;
  margin: 0 auto;
}

.error{
  color: red;
}
.leftsignup{
  padding: 175px 0px !important;
}
.isActive ,.ismatch{
  border-color: red;
}


@media (max-width:575.8px) {
  .leftsignup {
    padding: 50px 0px !important;
  }
}
