
row{
  margin: 0;
}
.taskoption{
  margin: 100px 0;
}
.left_card{
  padding-bottom: 10px;
  border-right:double red ;
  border-bottom: double red;
}
.card1{
  margin-left: 98%;
  transform: translateX(-98%);
}
.card2{
  margin-top: 10px;
}
.right_card{
  padding-top: 10px;
  border-left: double red ;
  border-top: double red;
}
