
.top-bar{
  padding: 50px;
  position: fixed;
  z-index: 999;

}
.list-item{
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.list-item:hover{
  background-color: black;
  color: white;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}

#privacy p{
  word-break: break-all;
}
#privacy{
  margin-bottom: 50px;
}
.container-setting{
  border-left: 1px solid black;
  padding-left: 20px;
}

#general {
  height: 50vh;
}
.notifi-btn{
  position: relative;
}
#dark-btn{
  position: absolute;
  top: 0px;
  left: 20%;
  background-color: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
}

.darkbtnon{
  padding-left: 23px !important;
  background-color: #0a0a0a !important;
  transition: 0.5s;
}


@media (min-width: 992px)and (max-width: 1200px) {
  .top-bar{
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    border-right: none;
    background-color: white;
    margin-top: -18px;
  }
  .list-item{
    list-style: none;
    height: 35px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid black;
    cursor: pointer;
  }
  #privacy{
    margin: 120px 0 30px 0;
  }
  #general{
    margin-top: 90px;
  }
  #dark-btn{
    left: 40%;
  }
}

@media (min-width:576px)and (max-width:991px){
  .top-bar{
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    border-right: none;
    background-color: white;
    margin-top: -18px;
  }
  .list-item{
    list-style: none;
    height: 35px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid black;
    cursor: pointer;
  }
  #privacy{
    margin: 120px 0 30px 0;
  }
  #dark-btn{
    left: 40%;
  }
}
@media  (max-width: 576px){
  .top-bar{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    border-right: none;
    background-color: white;
    margin-top: -17px;
  }
  .list-item{
    list-style: none;
    height: 35px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid black;
    cursor: pointer;
  }
  #privacy{
    margin: 60px 0 30px 0;
  }
  #dark-btn{
    left: 80% ;
  }
  #general{
    margin-top: 50px;
  }
}
