@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background: #f3f5f7 !important;
  background-position: center center;
  background-size: cover;
  font-family: 'Poppins' ,sans-serif;
  //height: 80vh;
}
.common-btn{
  background-color: #0c0c0c !important;
  color: white !important;
  box-shadow: none !important;
  outline: 0 !important;
}
.common-btn:hover{
  box-shadow: none !important;
  outline: 0 !important;
}
p{
  color: #716e6e;
}
.card-subtitle{
  margin: 0px 0px 8px !important;
}
//Sidebar and content maintain
.full-content{
  width: 100%;
  display: flex;
}
.side-content{
  min-width: 15%;
}
.main-content{
  padding: 0 20px;
  margin: 0 auto;
  min-width: 85%;
}
.withoutsidebar{
  width: 100% !important;
}

@media (min-width:1400px) {
  .side-content{
    min-width: 15%;
  }
  .main-content{
    min-width: 85%;
  }
}
@media (min-width:1000px) and (max-width: 1399px) {
  .side-content{
    min-width: 20%;
  }
  .main-content{
    min-width: 100%;
  }
  .pie[data-v-144a9a4f] {
    width: 250px !important;
    margin: 0 auto;
    height: 250px !important;
  }
  #doughnut-chart {
    width: 220px !important;
    height: 220px !important;
    margin: 0;
    padding: 0;
  }
}
